@using Microsoft.EntityFrameworkCore
@using FullProject.Data
@model Projects
@{
    ViewData["Title"] = " تعديل بيانات المشروع ";

}
@inject ApplicationDbContext db;
@{
    //var id_order = Model.Id_Orders;

    var orders = db.Order.FirstOrDefault(e=>e.Id_Orders==Model.Id_Orders);

} 



<form method="post">
    <div class="offcanvas-body flex-grow-0 mx-0">
        <div class="row">
               <div class="col-4">
            <div class="mb-3">
            <label class="form-label" asp-for="Id_Orders">رقم الطلب</label>
            <input type="number"
            asp-for="@orders.Num_Order"
            class="form-control"
            aria-label="John Doe" readonly />
            </div>
            </div>
            <div class="col-4">
            <div class="mb-3">
            <label class="form-label" asp-for="Id_Projects">رقم المشروع</label>
            <input type="number"
            asp-for="Id_Projects"
            class="form-control"
            aria-label="John Doe" readonly />
            </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Name_Project">اسم المشروع</label>
                    <input type="text"
                           asp-for="Name_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Owner_Project">اسم مالك المشروع</label>
                    <input type="text"
                           asp-for="Owner_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Owner2_Project">اسم المفوض بالمعاملة</label>
                    <input type="text"
                           asp-for="Owner2_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Num_Phone">رقم الهاتف</label>
                    <input type="text"
                           asp-for="Num_Phone"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label asp-for="Date_Project" class="form-label">تاريخ تسجيل المشروع </label>
                    <div class="input-group">
                        <span id="basicDate2" class="input-group-text"><i class="bx bx-calendar"></i></span>
                        <input type="date"
                               asp-for="Date_Project"
                               class="form-control flatpickr-validation"
                               aria-label="MM/DD/YYYY" />
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label asp-for="Property_Project" class="form-label">وثيقة ملكية المشروع</label>
                    <select asp-for="Property_Project" class="form-select" aria-label="نوع ملكية المشروع">
                        <option value="1">عقد ملكية</option>
                        <option value="2">إيجار  </option>
                    </select>
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Type_Project">نوع المشروع</label>
                    <input type="text"
                           asp-for="Type_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="Locate_Project">موقع المشروع</label>
                    <input type="text"
                           asp-for="Locate_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-label" asp-for="area_Project">مساحة المشروع</label>
                    <input type="text"
                           asp-for="area_Project"
                           class="form-control"
                           aria-label="" />
                </div>
            </div>

            <br><br><br>
            <div class="d-grid gap-2 col-10 mx-auto">
                <button class="btn btn-primary " type="submit">تعديل</button>
                <a asp-action="Index" asp-controller="ProjectOrder" type="reset" class="btn btn-light ">
                    إلـــغاء
                </a>
            </div>
        </div>
    </div>
</form>
