<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default"
      data-assets-path="../assets/" data-template="vertical-menu-template-no-customizer-starter">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/images.ico" />
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/project.styles.css" asp-append-version="true" />
    -->
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/animate-css/animate.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <script src="~/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
    <script src="~/assets/js/config.js"></script>
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                       &nbsp;
                        <div class="avatar" >
                            &nbsp;  &nbsp;  &nbsp;    &nbsp;   &nbsp;   &nbsp;   &nbsp;
                        
                            <img src="../assets/img/avatars/images.png"  class="rounded-circle" />
                        </div>


                    </a>
                   
                </div>
             

                <div class="menu-divider mt-0"></div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Page -->
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>الصفحة الرئيسية</div>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a asp-controller="ProjectOrder" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>طلبات المشاريع</div>
                        </a>
                    </li>
                     <li class="menu-item">
                        <a asp-controller="Actions" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>الإجراءات الأولية</div>
                        </a>
                    </li>



                    <li class="menu-item">
                        <a asp-controller="StartProcess" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>بدء العمليات</div>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a asp-controller="FinishProject" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>المشاريع المنتهية</div>
                        </a>
                    </li>


                    <li class="menu-item">
                        <a asp-controller="StartProcess" asp-action="Index" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>التقارير</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Users" asp-action="Permissions" class="menu-link">
                            <i class="menu-icon icon-house me-2"></i>
                            <div>ادارة المستخدمين</div>
                        </a>
                    </li>



            </ul>
           
                </aside>
            <div class="layout-page">
                <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="container-fluid">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>


                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- nav-->
                            <div class="navbar-nav align-items-center">
                                <h3 class="nav-item pt-3">@ViewData["Title"]</h3>

                            </div>
                            <!-- nav-->
                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                               
                                            
                                <!-- Notifications -->
                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/image1.png"  class="rounded-circle" />
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img src="../assets/img/avatars/1.png" alt class="rounded-circle" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block lh-1">Nader AL-Gaadi</span>
                                                        <small>Designer</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
                <hr class="mt-0">
                <!-- Content wrapper -->
                @RenderBody()
    
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasEndLabel">
                <!-- Header -->
                <div class="offcanvas-header border-bottom">
                    <h5 id="offcanvasEndLabel" class="offcanvas-title"> </h5>
                </div>
                <div id="offcanvas-body" class="offcanvas-body">
                </div>
            </div>
        </div>
        <!-- / Layout page -->
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>



    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons/buttons.html5.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons/buttons.print.js"></script>
    <!-- Row Group JS -->
    <script src="~/assets/vendor/libs/datatables-rowgroup/datatables.rowgroup.js"></script>
    <script src="~/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.js"></script>
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


    <!-- Page JS -->
    <script src="~/assets/js/extended-ui-sweetalert2.js"></script>

    <script src="~/assets/js/form-wizard-numbered.js"></script>
    <script src="~/assets/js/form-wizard-validation.js"></script>
    <script src="~/assets/vendor/js/dropdown-hover.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Page JS -->


</body>
</html>
