
@{
    
    ViewData["Title"] = "بيانات المنتج";
}

   <div>
                                
                                <div class="offcanvas-header pb-0">

        <div class="col-7">
            <div class="mb-3">
                <label class="form-label" for="add1_name">رقم الصنف</label>
                <input type="number"
                       class="form-control"
                       aria-label="" />

            </div>
        </div>
                                    <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">نوع السلعه</label>
                                        <input type="text"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                                 <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">الماركه المسجله (الاسم التجاري)</label>
                                        <input type="text"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                                 <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">رقم الصنف</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                               </div>



                                <div class="offcanvas-header pb-0">
                                    <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">اسم الشركه المنتجه</label>
                                        <input type="text"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                                 <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">بلد المنشأ</label>
                                        <input type="text"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                               </div>

                                <div class="offcanvas-header pb-0">
                                    <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">رقم الدفعه/رقم مسلسل الإنتاج</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                                  
                                    <div class="col-7">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">نوع العبوه</label>
                                        <input type="text"
                                               class="form-control"
                                    
                                               aria-label="" />
                                    
                                </div>
                                </div>

                               </div>

                                    
                                      
                               <div class="offcanvas-header pb-0">
                                
                                        <div class="col-2">
                                             <div class="mb-3">
                                            <label class="form-label" for="add1_name">تاريخ الانتاج</label>
                                             <input type="date"
                                                   class="form-control flatpickr-validation"
                                                  
                                                   id="strategicGoal_date"
                                                   name="strategicGoal_date"
                                                   aria-describedby="strategicGoal-date"
                                                   placeholder="MM/DD/YYYY"
                                                   aria-label="MM/DD/YYYY" />
                                           
                                      
                                               
                                               </div> 
                                    </div>


                                     <div class="col-2">
                                             <div class="mb-3">
                                            <label class="form-label" for="add1_name">تاريخ الانتهاء</label>
                                             <input type="date"
                                                   class="form-control flatpickr-validation"
                                                   id="strategicGoal_date"
                                                   name="strategicGoal_date"
                                                   aria-describedby="strategicGoal-date"
                                                   placeholder="MM/DD/YYYY"
                                                   aria-label="MM/DD/YYYY" />
                                           
                                      
                                               
                                               </div> 
                                    </div>
                                
                                    </div>


                                <div class="offcanvas-header pb-0">
                                    <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">الوزن</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />

                                                </div> 
                                                 </div>

                                                  <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">الحجم</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />

                                                </div> 
                                                 </div>

                                                  <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">المقاس</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />

                                                </div> 
                                                 </div>

                                                  <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="add1_name">العدد</label>
                                        <input type="number"
                                               class="form-control"
                                    
                                               aria-label="" />

                                                </div> 
                                                 </div>
                                      
                                        </div>
                     

                                </div>


                                   <div class="offcanvas-header pb-0">
                                
                                 <div class="d-grid gap-2 col-13 mx-auto">
                                      
                                            <a asp-controller="Process3" asp-action="Add2" class="btn btn-primary " type="submit">التالي</a>
                                            <button class="btn btn-light" type="reset" data-bs-dismiss="offcanvas">الـغـاء</button>
                                        </div>
                             </div>
                              
