
@{
    ViewData["Title"] = "الموافقة النهائية";
}
<div class="content-wrapper w-100 mx-max">
    <!-- Content -->

    <div class="card pb-5 m-3 me-5">


        <div class=" table-responsive m-5 mb-2  mx-max text-start">
            <table class="table card-table">
                <thead>
                    <tr>
                        <th>تفاصيل المشروع</th>
                    </tr>
                </thead>

            </table>
        </div>

        <div class=" table-responsive m-5 mx-max text-start">
            <table>

                <tbody>

                    <tr>
                   
                        <td class="p-2 px-5">
                           : أسم المشروع
                        </td>
                        <td class="p-2 px-5">
                          :  اسم مالك المشروع
                        </td>
                        <td class="p-2 px-5">
                            : نوع المشروع
                        </td>
                        <td class="p-2 px-5">
                           : موقع المشروع
                        </td>
                        <td class="p-2 px-5">
                          :  رقم التواصل 
                        </td>
                    </tr>


                    <tr>
                        <td class="p-2 px-5">
                          
                        </td>
                        <td class="p-2 px-5">
                          
                        </td>
                        <td class="p-2 px-5">
                       
                        </td>
                        <td class="p-2 px-5">
                           
                        </td>
                        <td class="p-2 px-5">
                        </td>
                    </tr>

             

                </tbody>
            </table>
            <br />
            <br />
            <table>
                <tbody>
                    <tr>
                        <td class="p-2 px-5">
                        </td>
                        <td class="p-2 px-5">
                        </td>
                        <td class="p-2 px-5">
                        </td>

                        <td class="p-10 px-2">

                            <a  style="width:150px"
                               class="btn btn-primary">
                                <i class="d-none d-lg-inline-block"></i> التقرير الفني
                            </a>
                        </td>


                    </tr>



                </tbody>
            </table>


        </div>


    </div>
</div>
